@model IEnumerable<aspnet03_portfolioWebApp.Models.PortfolioModel>;

@{
    ViewData["Title"] = "홈";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!-- start slider section -->
<div id="top_section" class=" banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        @*<li data-target="#myCarousel" data-slide-to="3"></li>*@
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="bluid">
                                        <h1>Welcome <br>Juhyeon's Area</h1>
                                        <p>
                                            Graduated <br> Kyung-sung University
                                        </p>
                                        <a class="read_more" href="#we_do">What I can do </a><a class="read_more" href="#contact">Contact </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="bluid">
                                        <h1> Born In </h1>
                                        <p>
                                            1997 Busan South Korea
                                        </p>
                                        <a class="read_more" href="#we_do">What I can do </a><a class="read_more" href="#contact">Contact </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="bluid">
                                        <h1>Want to be a Software Developer</h1>
                                        <p>
                                            Can use <br>C# , Python, WPF, C, C++
                                        </p>
                                        <a class="read_more" href="#we_do">What I can do </a><a class="read_more" href="#contact">Contact </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end slider section -->

<!-- we_do -->
<div class="we_do" id="we_do">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>What I can do </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="we1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#we1" data-slide-to="0" class="active"></li>
                        <li data-target="#we1" data-slide-to="1"></li>
                        @*<li data-target="#we1" data-slide-to="2"></li>
                        <li data-target="#we1" data-slide-to="3"></li>*@
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption we1_do">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="~/themes/hightech-html/images/we1.png" alt="#" /></i>
                                                <h3>website <br>development</h3>
                                                <p>
                                                    ASP.NET 및 MVC HTML 활용 웹 페이지 제작
                                                </p>
                                                <a class="read_more" href="https://github.com/Park-JuHyeon/pknu_ASPnet_2023">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="~/themes/hightech-html/images/we2.png" alt="#" /></i>
                                                <h3>wpf <br>app development</h3>
                                                <p>
                                                    C# , MahApp.Metro 적용한 WPF 앱 제작 (My Sql, Open API 활용) 
                                                </p>
                                                <a class="read_more" href="https://github.com/Park-JuHyeon/pknu-wpf-2023">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="~/themes/hightech-html/images/we3.png" alt="#" /></i>
                                                <h3>c# monitoring app <br>development</h3>
                                                <p>
                                                    C# WPF, MahApps.Metro, Bogus(더미데이터 생성 라이브러리)
                                                    M2Mqtt(통신 라이브러리), DB 데이터바인딩, LiveCharts 활용
                                                </p>
                                                <a class="read_more" href="https://github.com/Park-JuHyeon/MiniProjects/tree/main/part2">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption we1_do">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="~/themes/hightech-html/images/python.png" width="50" alt="#" /></i>
                                                <h3>python <br>PyQt app development</h3>
                                                <p>
                                                    Naver API 뉴스검색 앱 만들기 (Python 3.11.2, PyQt5, Qt Designer, Naver OpenAPI)
                                                    PyGame 만들기,
                                                    계산기 만들기.. etc
                                                </p>
                                                <a class="read_more" href="https://github.com/Park-JuHyeon/MiniProjects/tree/main/part1">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="~/themes/hightech-html/images/browser.png" width="70" alt="#" /></i>
                                                <h3>C# <br>window Browser development</h3>
                                                <p>
                                                    C# 기본, 인터페이스, 추상클래스
                                                    프로퍼티, 배열, 컬렉션 활용
                                                    윈도우 탐색기 만들기
                                                </p>
                                                <a class="read_more" href="https://github.com/Park-JuHyeon/Basic-CSharp-2023">Read More</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="bo_ho" class="we_box text_align_left">
                                                <i><img src="~/themes/hightech-html/images/cpp.png" width="70" alt="#" /></i>
                                                <h3>study<br>basic c++</h3>
                                                <p>
                                                    Basic 함수와 상속 및 동적할당, 복사생성자(copy)
                                                    템플릿 및 예외처리
                                                </p>
                                                <a class="read_more" href="https://github.com/Park-JuHyeon/Basic_Cpp">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <a class="carousel-control-prev" href="#we1" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#we1" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end we_do -->

@*<!-- about -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>About Company</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->*@

<!-- portfolio -->
<div class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                    <h2>We Have Done Portfolio  </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                    <figure>
                        <img src="~/themes/hightech-html/images/portfolioimg.png" alt="#" />
                        <div class="portfolio_text">
                            <div class="li_icon">
                                <a href="https://raw.githubusercontent.com/Park-JuHyeon/MiniProjects/main/images/smarthome_monitor1.gif"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <a href="https://github.com/Park-JuHyeon/MiniProjects/tree/main/part2"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <h3>IoT Monitoring App</h3>
                            <p>WPF, MQTT, Sensoring (5days)</p>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                    <figure>
                        <img src="~/themes/hightech-html/images/portfolioimg2.png" alt="#" />
                        <div class="portfolio_text">
                            <div class="li_icon">
                                <a href="https://raw.githubusercontent.com/Park-JuHyeon/Basic-CSharp-2023/main/image/bookrentalshop.gif"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <a href="https://github.com/Park-JuHyeon/Basic-CSharp-2023"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <h3>BookRental Shop</h3>
                            <p>Winforms, MySql(3days)</p>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                    <figure>
                        <img src="~/themes/hightech-html/images/portfolioimg3.png" alt="#" />
                        <div class="portfolio_text">
                            <div class="li_icon">
                                <a href="https://github.com/Park-JuHyeon/pknu_ASPnet_2023/blob/main/image/aspnetfin.gif"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <a href="https://github.com/Park-JuHyeon/pknu_ASPnet_2023"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <h3>Web Portfolio</h3>
                            <p>ASP.NET Core MVC (3days)</p>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-6">
                <div id="ho_nf" class="portfolio_main text_align_left">
                    <figure>
                        <img src="~/themes/hightech-html/images/portfolioimg4.png" alt="#" />
                        <div class="portfolio_text">
                            <div class="li_icon">
                                <a href="https://raw.githubusercontent.com/Park-JuHyeon/pknu-wpf-2023/main/Images/movieFinder.gif"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <a href="https://github.com/Park-JuHyeon/pknu-wpf-2023"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <h3>Movie Finder</h3>
                            <p>WPF, OpenAPI (3days)</p>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-12">
                <a class="read_more" href="https://github.com/Park-JuHyeon">See More</a>
            </div>
        </div>
    </div>
</div>
<!-- end portfolio -->

<!-- chose -->
<div class="chose">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                    <h2>Why Chose me</h2>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="chose_box">
                    <i><img src="~/themes/hightech-html/images/chose1.png" alt="#" /></i>
                    <h3>Project Done </h3>
                    <strong>1000+</strong>
                    <a class="read_more" href="Javascript:void(0)">Read More</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="chose_box">
                    <i><img src="~/themes/hightech-html/images/chose1.png" alt="#" /></i>
                    <h3>Happy Clients </h3>
                    <strong>900+</strong>
                    <a class="read_more" href="Javascript:void(0)">Read More</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="chose_box">
                    <i><img src="~/themes/hightech-html/images/chose1.png" alt="#" /></i>
                    <h3>Awards</h3>
                    <strong>100+</strong>
                    <a class="read_more" href="Javascript:void(0)">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end chose -->

<!-- contact -->
<div class="contact" id="contact">
    <div class="container">
        <div class="row ">
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>Get In Touch</h2>
                </div>
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Name" type="type" name=" Name">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-12">
                            <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send Now</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>What Says Clients</h2>
                </div>
                <div id="clientsl" class="carousel slide our_clientsl" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#clientsl" data-slide-to="0" class="active"></li>
                        <li data-target="#clientsl" data-slide-to="1"></li>
                        <li data-target="#clientsl" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption posi_in">
                                    <div class="clientsl_text">
                                        <i><img src="~/themes/hightech-html/images/clint.jpg" alt="#" /></i>
                                        <h3>Deno <img src="~/themes/hightech-html/images/icon.png" alt="#" /></h3>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem IpsumIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#clientsl" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#clientsl" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact -->





